.stApp > header {
    background-color: rgb(10, 10, 10);
}

.stApp {
    margin: 0 auto;  /* Centraliza o container na página */
    max-width: 95%;  /* Aumenta a largura máxima para 95% da largura da janela */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-color: rgb(10, 10, 10);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    color: white;
}


.st.title{
    color: white;
}

st.subheader{
    color: white;
}


p, ol, ul, dl {
    color: white;
}

H1, H2, H3 {
    color: white;
}


.stButton > button{
    background-color: green;

}

